[Unit]
Description=Home Dashboard Server
After=network.target
Before=graphical.target

[Service]
WorkingDirectory=/home/abi/play/js/home-dashboard
ExecStart=/home/abi/.volta/bin/npm start
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=homedashboard
User=abi
Group=root


[Install]
WantedBy=multi-user.target
